<?xml version="1.0" encoding="UTF-8"?>
<server description="Sample Liberty server">

  <featureManager>
    <feature>persistence-3.0</feature>
    <feature>jakartaee-9.1</feature>
    <feature>microProfile-5.0</feature>
    <feature>jdbc-4.3</feature>
    <feature>jndi-1.0</feature> 
  </featureManager>

  <variable name="default.http.port" defaultValue="5050" />
  <variable name="default.https.port" defaultValue="5051" />
  <!-- tag::postgresUser[] -->
  <variable name="postgres.app.username" defaultValue="admin" />
  <!-- end::postgresUser[] -->
  <!-- tag::postgresPassword[] -->
  <variable name="postgres.app.password" defaultValue="adminpwd" />
  <!-- end::postgresPassword[] -->
  <!-- tag::contextRoot[] -->
  <variable name="context.root" defaultValue="/inventory"/>
  <!-- end::contextRoot[] -->

  <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />

  <webApplication contextRoot="${context.root}" location="inventory.war" />  

  <library id="postgresql-library">
    <fileset dir="${shared.resource.dir}/" includes="*.jar" />
  </library>

  <dataSource id="DefaultDataSource" jndiName="jdbc/postgresql">
      <jdbcDriver libraryRef="postgresql-library" />
      <properties.postgresql serverName="postgres" 
                          portNumber="5432" 
                          databaseName="admin"
                          user="${postgres.app.username}"
                          password="${postgres.app.password}"/>
  </dataSource>
</server>
